################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/QuoterApp/bin/Debug/net8.0
/QuoterApp/obj
/QuoterAppTests/bin/Debug/net8.0
/QuoterAppTests/obj
